@import "mixin";
@import "reset";
@import "variables";

body {
  font-family: var(--fontFamily), sans-serif;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: var(--black);
}

.container {
  max-width: var(--containerWidth);
  padding: 0 10px;
  margin: 0 auto;
}

