@import "index";

body {
    background-image: url(../img/background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//-------ШАПКА

.header {
    &__top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 87px;
        margin-bottom: 52px;
    }

    &__nav {
        ul {
            display: grid;
            grid-template-columns: 100px 99px 171px 99px;
            gap: 45px;
            font-size: 18px;
            a {
                display: inline-block;
                position: relative;
                padding-bottom: 5px;
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    content: "";
                    height: 3px;
                    width: 0;
                    background: linear-gradient(
                        180deg,
                        #fdc131 0%,
                        #f58235 100%
                    );
                    transition: width 0.4s ease-in-out;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 20px;
                }
                &:hover::after,
                &:focus::after {
                    width: 100%;
                }
            }
        }
    }

    &__login {
        position: relative;
        padding-left: 37px;
        a {
            color: #fff;
            background: linear-gradient(180deg, #fdc131 0%, #f58235 100%);
            padding: 5px 33px;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 22px;
        }
        &::before {
            content: "";
            top: 2px;
            left: 0;
            height: 28.5px;
            width: 28.5px;
            background: url(../img/login.svg);
            position: absolute;
        }
    }

    &__bottom {
        margin-bottom: 95px;
        form {
            position: relative;
            width: 480px;
            margin: 0 auto;
            font-size: 18px;
        }
        input {
            width: 100%;
            height: 54px;
            padding-left: 36px;
            border: 1px solid var(--black);
            border-radius: 90px;
            outline: none;
            background: transparent;
            color: rgba(0, 0, 0, 0.44);
            background: rgba(168, 165, 157, 0.36);
            &::placeholder {
                font-size: 18px;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 0px;
            width: 86px;
            height: 54px;
            border: 1px solid var(--black);
            background: linear-gradient(180deg, #fdc131 0%, #f58235 100%);
            border-radius: 0 90px 90px 0;
            cursor: pointer;
        }
        button:before {
            content: url(../img/searchicon.svg);
            margin-left: -5px;
            margin-top: 5px;
            display: block;
        }
    }
}

//-----БАННЕР

.banner {
    &__inner {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__content {
        max-width: 700px;
        h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 42px;
            color: #2b2b2b;
            letter-spacing: 0.5;
            margin-bottom: 42px;
            span {
                color: #f37335;
            }
        }
        h4 {
            max-width: 600px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: var(--gray);
            margin-bottom: 42px;
        }
        p {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: var(--gray);
            margin-bottom: 66px;
        }
    }

    &__reg {
        a {
            padding: 12px 30px;
            border-radius: 10px;
            &:not(:last-child) {
                margin-right: 46px;
            }
            &:hover {
                background: var(--blue);
                color: #fff;
                border: 1px solid transparent;
                transition: all 0.3s;
            }
        }
        &-children {
            border: 1px solid transparent;
            color: #fff;
            background: linear-gradient(180deg, #fdc131 0%, #f58235 100%);
        }
        &-organization {
            background: transparent;
            color: var(--orange);
            border: 1px solid var(--orange);
        }
    }
}

.swiper {
    width: 250px;
    height: 371px;
    &-wrapper {
        padding-top: 44px;
        padding-bottom: 44px;
    }
    &-slide {
        height: 138px !important;
    }
}

.button-prev {
    top: -460px;
}

.button-next {
    bottom: 169px;
}

.button-prev,
.button-next {
    width: 75px;
    height: 45px;
    z-index: 10;
    position: relative;
    cursor: pointer;
    right: -82px;
}

// .button-prev::after {
//     content: url(../img/prev.svg);
//     position: absolute;
// }

// .button-next::after {
//     content: url(../img/next.svg);
//     position: absolute;
// }

//---------------Регистрация
.register {
    background-color: #fff;
    height: 100%;
    &__inner {
        padding: 95px 135px;
    }
    &__a {
        display: flex;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        margin-bottom: 60px;
        a {
            font-size: 34px;
            line-height: 46px;
            font-weight: 700;
            color: #fe8b00;
            letter-spacing: 0.1px;
        }
    }
    &__reg {
        border-bottom: 2px solid #fe8b00;
    }
    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-bottom: 31px;
        input {
            width: 357px;
            border: 2px solid #e8e8e8;
            border-radius: 10px;
            padding-left: 10px;
            font-size: 20px;
            padding: 15px 25px;
            color: #000;
            outline: #f37335;
            &::placeholder {
                color: #000;
            }
            &:focus {
                border: 2px solid #f37335;
            }
        }
    }
    &__title {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.2px;
        color: #252b42;
        margin-bottom: 5px;
    }
    .checkbox {
        display: flex;
        align-items: center;
        font-size: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 50px;
        a {
            color: var(--blue);
            margin-right: 10px;
        }
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        a {
            padding: 16px 30px;
            color: #fe8b00;
            background-color: transparent;
            border: 1px solid #f37335;
            border-radius: 10px;
        }
        .reg__btn {
            background-color: #fe8b00;
            padding: 16px 30px;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

//------------Вход
.login {
    height: 100%;
    background-color: #fff;
    &__inner {
        padding-top: 200px;
        text-align: center;
    }
    &__title {
        font-size: 40px;
        line-height: 56px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: #fe8b00;
        margin-bottom: 90px;
    }
    &-mail,
    &-password {
        width: 528px;
        margin: 0 auto;
        padding: 21px 25px;
        font-size: 15px;
        border: 2px solid #8ec2f2;
        border-radius: 10px;
		margin-bottom: 44px;
		outline: #f58235;
		&:focus {
			border: 2px solid #f58235
		}
    }
	&-btn {
		padding: 16px 132px;
		background-color: #f58235;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		border-radius: 10px;
		margin: 0 auto;
		cursor: pointer;
	}
}
